body{
    background: #02111B;
}

h1, h2{
    font-family: 'Indie Flower', cursive;
}

p{
    font-family: 'Zen Kurenaido', sans-serif;
}

.wrapper{
display: flex;
flex-flow: row wrap;
text-align: center;
}

.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header{
    background: #5D737E;
    height: 100px;
    color: #FCFCFC;
}

.main{
    text-align: center;
    background: #3F4045;
    height: 300px;
    font-size: 24px;
    color: #FCFCFC;
}

.aside1{
    background: #E8ECEE; 
}

.aside2{
    background: #E8ECEE;
}
@media all and (min-width: 1000px){
    .main{
        flex: 3;
    }

    .aside1{
        order: 2;
    }

    .aside2{
        order: 2;
    }

    .main{
        order: 2;
    }
}

@media all and (min-width: 320px){
    .aside{
        flex: 1;
    }
}